# Build files
.gradle
.kotlin
build
/*.apk
/*.aab

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties

# Windows client
desktop/node_modules/
desktop/dist/
desktop/test-output/

# macOS specific files
.DS_Store
